# ==============================================
# 🧠 General Python ignores
# ==============================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.swp
*.bak
*.DS_Store
*.ipynb_checkpoints/

# ==============================================
# 🧱 Virtual environment
# ==============================================
.venv/
env/
venv/

# ==============================================
# 📦 Dataset and large files
# ==============================================
data/
outputs/
*.zip
*.tar
*.tar.gz
*.h5
*.pt
*.pth
*.weights
*.onnx
*.mp4
*.avi
*.jpg
*.png

# ==============================================
# ⚙️ IDE / VSCode settings
# ==============================================
.vscode/
.idea/

# ==============================================
# 🧪 Jupyter / Experiments
# ==============================================
notebooks/
experiments/

# ====================================================
# Mile Stone One outputs
# ====================================================
Milestone_1_Data_Preprocessing/outputs/*

# But keep the results folder
!Milestone_1_Data_Preprocessing/outputs/exploration/
 
